#main { 
  padding-left:500px;
  margin-top:50px;
}

button {
  transition-duration: 0.6s;
  height: 60px;
  border-radius: 10px;
  font-size:2em;
  color:white;
}

button:focus {
  outline:0;
}

.simpleBlue { 
  text-shadow: #555 1px 2px 1px;
  background-color: #008CBA;
  -webkit-transition-duration: 0.6s; /* Safari */
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.simpleBlue:hover {
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}